absl-py==0.7.1
astor==0.8.0
bleach==3.1.0
gast==0.2.2
grpcio==1.23.0
h5py==2.9.0
html5lib==1.0.1
keras==2.2.4
keras-applications==1.0.8
keras-preprocessing==1.1.0
numpy==1.16.4
protobuf==3.9.1
pynif==0.1.4
scipy==1.2.1
six==1.12.0
sklearn-crfsuite==0.3.6
somajo==1.10.5
tensorboard==1.14.0
tensorflow==2.7.2
termcolor==1.1.0
werkzeug==0.15.4